<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="myForm" (ngSubmit)="save()">
    
    <!-- Continent -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente</label>
            <select class="form-control"
                    formControlName="region">
                <option value="">-- Seleccione Continente --</option>
                <option *ngFor="let item of regions"
                        [value]="item|lowercase">{{ item }}</option>
            </select>
        </div>
    </div>
    
    <!-- Country -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Pais</label>
            <select class="form-control"
                    formControlName="country">
                <option value="">-- Seleccione el pais --</option>
                <option *ngFor="let item of countries"
                        [value]="item.cca2|lowercase">{{ item.name.common }}</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                Seleccionar
            </button>
        </div>
    </div>
</form>

<h3>form</h3>
<pre>valid: {{myForm.valid|json}}</pre>
<pre>value: {{myForm.value|json}}</pre>